* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  text-align: center;
  color: whitesmoke;
  margin: 0 auto;
  background: whitesmoke;
}

.main-wrapper {
  width: 100vw;
  height: calc(100vh - 2vw);
  margin: 1vw auto;
}

.wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 2vw;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 2rem;
  box-shadow: 0.8rem 0.8rem 1rem #333;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

#slider {
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
  border: 1rem solid #333;
  border-radius: 2rem;
  background: whitesmoke;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

#text-slider {
  width: 60%;
  height: 12rem;
  overflow: hidden;
  margin: 0 auto;
  order: 1;
}

#slider-inner, #text-slider-inner {
  position: relative;
  width: 400%;
  height: 100%;
  display: flex;
  transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
}

#text-slider-inner {
  height: 10rem;
  display: flex;
}

#slider-inner>div, #text-slider-inner>div {
  position: relative;
  width: 25%;
  height: 100%;
  padding: 1rem;
}

#text-slider-inner p {
  font-size: 3rem;
  text-align: left;
}

.slide div {
  width: 100%;
  height: 100%;
}

#second:checked~#slider #slider-inner, #second:checked~#text-slider #text-slider-inner {
  margin-left: -100%;
}

#third:checked~#slider #slider-inner, #third:checked~#text-slider #text-slider-inner {
  margin-left: -200%;
}

#fourth:checked~#slider #slider-inner, #fourth:checked~#text-slider #text-slider-inner {
  margin-left: -300%;
}

#first-slide div {
  position: relative;
  background: no-repeat center/contain url("./img/slide1.jpg");
}

#second-slide div {
  position: relative;
  background: no-repeat center/contain url("./img/slide2.jpg");
}

#third-slide div {
  position: relative;
  background: no-repeat center/contain url("./img/slide3.jpg");
}

#fourth-slide div {
  position: relative;
  background: no-repeat center/contain url("./img/slide4.jpg");
}

.radio {
  display: inline-block;
  cursor: pointer;
  order: 2;
  margin-left: -4rem;
  height: 6rem;
  width: 4rem;
}

input {
  height: 6rem;
  width: 4rem;
  opacity: 0;
  order: 2;
  cursor: pointer;
  margin-left: 1rem;
}

#first:checked~.radio:nth-of-type(1) .outer, #second:checked~.radio:nth-of-type(2) .outer, #third:checked~.radio:nth-of-type(3) .outer, #fourth:checked~.radio:nth-of-type(4) .outer {
  border: 0.3rem solid #6495ED;
  background-color: #333;
}

#first:focus~.radio:nth-of-type(1) .outer .inner, #second:focus~.radio:nth-of-type(2) .outer .inner, #third:focus~.radio:nth-of-type(3) .outer .inner, #fourth:focus~.radio:nth-of-type(4) .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #333;
}

#first:hover:not(:checked)~.radio:nth-of-type(1) .outer, #second:hover:not(:checked)~.radio:nth-of-type(2) .outer, #third:hover:not(:checked)~.radio:nth-of-type(3) .outer, #fourth:hover:not(:checked)~.radio:nth-of-type(4) .outer {
  background: whitesmoke;
  border-color: whitesmoke;
}

#first:hover:checked~.radio:nth-of-type(1) .outer, #second:hover:checked~.radio:nth-of-type(2) .outer, #third:hover:checked~.radio:nth-of-type(3) .outer, #fourth:hover:checked~.radio:nth-of-type(4) .outer {
  border-color: whitesmoke;
}

.radio .outer {
  height: 2rem;
  width: 2rem;
  display: block;
  float: left;
  margin: 1rem;
  border: 0.3rem solid #6495ED;
  border-radius: 50%;
  background-color: #6495ED;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  height: 1.6rem;
  width: 1.6rem;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: -0.1rem;
  border-radius: 50%;
  background-color: #333;
  opacity: 0;
}

.bottom-wrapper {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    justify-content: center;
    width: 100%;
  }
  input {
    order: 1;
  }
  .radio {
    order: 1;
  }
  #text-slider {
    width: 100%;
    order: 2;
  }
  #text-slider-inner p {
    font-size: 2rem;
  }
  #slider {
    height: 60%;
  }
}

@media (max-width: 319px) {
  html {
    font-size: 5px;
  }
}